<form action="/jobs" method="post">
	<label for="title">Title:</label>
	<input id="title" name="title" type="text">
	<label for="description">Job description:</label>
	<input id="description" name="description" type="text">
	<label for="expectations">Expectations (separate each with a comma):</label>
	<input id="expectations" name="expectations" type="text">
	<label for="wage">Salary:</label>
	<input id="wage" name="wage" type="number">
	<label for="contactInfo">Email:</label>
	<input id="contactInfo" name="contactInfo" type="email">

	<button type="submit">Add job opening!</button>
</form>